<div class="container">

    <form [formGroup]="clientesForm" (ngSubmit)="submit()">
        <mat-card class="card">

            <mat-card-header class="mat-card-header">Cadastro de Clientes</mat-card-header>

            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome">
                <mat-error>
                    Nome Obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>CPF</mat-label>
                <input matInput formControlName="cpf">
                <mat-error>
                    CPF Obrigatório
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Endereço</mat-label>
                <input matInput formControlName="endereco">
                <mat-error>
                    Endereço Obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Complemento</mat-label>
                <input matInput formControlName="complemento">
            </mat-form-field>


            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Número</mat-label>
                <input matInput formControlName="numero">
                <mat-error>
                    Número Obrigatório
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Cep</mat-label>
                <input matInput formControlName="cep">
                <mat-error>
                    Cep Obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Bairro</mat-label>
                <input matInput formControlName="bairro">
                <mat-error>
                    Bairro Obrigatório
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field form-fields" appearance="outline">
                <mat-label>Cidade</mat-label>
                <input matInput formControlName="cidade">
                <mat-error>
                    Cidade Obrigatório
                </mat-error>
            </mat-form-field>

            <div class="div-button-submit">
                <button mat-stroked-button (click)="rotaListagemClientes()">Voltar</button>
                <button mat-stroked-button class="button-submit" type="submit">Gravar</button>
            </div>

        </mat-card>

    </form>
</div>