.div-button-form{
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    margin-bottom: 15px;
    margin-right: 30px;
}

.button-form {
    background-color: #EF4E36 !important;
    color: white !important;
}