.toolbar {
    background: linear-gradient(70deg, #EF4E36, #141414);
    color: white;
    height: 60px;
}

.mat-button {
    color: white !important;
}

.div-buttons {
    flex: 1 1 auto;
}

.container {
    height: 80%;
}
